<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <!-- <a class="nav-item nav-link" routerLink="/admin" *ngIf="isAdmin">Admin</a> -->
        <a class="nav-item nav-link" routerLink="/newMember" *ngIf="isAdmin">Add New Member</a>
        <a class="nav-item nav-link" routerLink="/memberDetails" *ngIf="isAdmin">Member Details</a>
        <a class="nav-item nav-link" routerLink="/assignTask" *ngIf="isAdmin">Assign Task</a>
        <a class="nav-item nav-link" routerLink="/memberView" *ngIf="!isAdmin">View My Task</a>
        <a class="nav-item nav-link" routerLink="/memberDetailsEditComponent" *ngIf="isAdmin">Member Details Edit</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>

<!-- main app container -->
<div class="container" >
    <router-outlet></router-outlet>
</div>

