<!-- main app container -->
<div class="card m-3">
  <h5 class="card-header">Add New Member for Project Allocation.</h5>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm" >
      <div class="form-row" >
        <!-- <div class="form-group col">
          <label>Member Id</label>
          <select formControlName="memberId" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.memberId.errors }">
            <option value=""></option>
            <option value="Mr">Mr</option>
            <option value="Mrs">Mrs</option>
            <option value="Miss">Miss</option>
            <option value="Ms">Ms</option>
          </select>
          <div *ngIf="submitted && f.memberId.errors" class="invalid-feedback">
            <div *ngIf="f.memberId.errors.required">memberId is required</div>
          </div>
        </div> -->
        <div class="form-group col-5">
          <label>Member Name</label>
          <input type="text" formControlName="memberName" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.memberName.errors }" />
          <div *ngIf="submitted && f.memberName.errors" class="invalid-feedback">
            <div *ngIf="f.memberName.errors.required">First Name is required</div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label>Years Of Experience</label>
          <input type="number" formControlName="yoe" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.yoe.errors }" />
          <div *ngIf="submitted && f.yoe.errors" class="invalid-feedback">
            <div *ngIf="f.yoe.errors.required">Yearsof Experience is required</div>
            <div *ngIf="f.yoe.errors.pattern">Date of Birth must be a valid date in the format YYYY-MM-DD</div>
          </div>
        </div>
        <div class="form-group col">
          <label>Skillset</label>
          <input type="text" formControlName="skillSet" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.skillSet.errors }" />
          <div *ngIf="submitted && f.skillSet.errors" class="invalid-feedback">
            <div *ngIf="f.skillSet.errors.required">skillSet is required</div>
          </div>
        </div>
      </div>
      <div class="form-group col">
        <label> More Description</label>
        <input type="text" formControlName="description" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
          <div *ngIf="f.description.errors.required">Last Name is required</div>
        </div>
      </div>
      <div class="form-group col">
        <label> Project Name </label>
        <input type="text" formControlName="projName" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.projName.errors }" />
        <div *ngIf="submitted && f.projName.errors" class="invalid-feedback">
          <div *ngIf="f.projName.errors.required">Last Name is required</div>
        </div>
      </div>
      <!-- <div class="form-group col">
        <label>Project Name</label>
        <select formControlName="projName" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.projName.errors }">
          <option value=""></option>
          <option value="Mr">Mr</option>
          <option value="Mrs">Mrs</option>
          <option value="Miss">Miss</option>
          <option value="Ms">Ms</option>
        </select>
        <div *ngIf="submitted && f.projName.errors" class="invalid-feedback">
          <div *ngIf="f.projName.errors.required">ProjName is required</div>
        </div>
      </div> -->
      <div class="form-row">
        <div class="form-group col-5">
          <label> Start Date</label>
          <input type="date" formControlName="startDate" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.startDate.errors }" />
          <div *ngIf="submitted && f.startDate.errors" class="invalid-feedback">
            <div *ngIf="f.startDate.errors.required">Last Name is required</div>
          </div>
        </div>
        <div class="form-group col-5">
          <label> End Date</label>
          <input type="date" formControlName="endDate" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.endDate.errors }" />
          <div *ngIf="submitted && f.endDate.errors" class="invalid-feedback">
            <div *ngIf="f.endDate.errors.required">Last Name is required</div>
          </div>
        </div>

        <div class="form-group col">
          <label>Allocation Percentage</label>
          <input type="number" formControlName="alp" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.alp.errors }" />
          <div *ngIf="submitted && f.alp.errors" class="invalid-feedback">
            <div *ngIf="f.alp.errors.required">Yearsof Experience is required</div>
            <div *ngIf="f.alp.errors.pattern">Date of Birth must be a valid date in the format YYYY-MM-DD</div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary mr-1" type="submit">Save</button>
        <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
      </div>
    </form>
  </div>
</div>
